<%- include('partials/aboutHeader'); -%>
<%- include("partials/navbar") -%>

<div class="container py-5">
    <h3>About Layluh</h3>
    <h5>Layluh allows you to watch videos without distractions. That means...</h5>
    <ul>
        <li><h5>No iodine deficient comment sections or chats.</h5></li>
        <li><h5>No related or recommended videos encouraging mindless consumption.</h5></li>
        <li><h5>No cluttered sidebars.</h5></li>
        <li><h5>No ads. This website will never have ads because they're ugly.</h5></li>
    </ul>
    <h5>What remains is a video embed in 16:9 aspect ratio. Enjoy.</h5>  
</div>

<div class="container py-5">
    <h3>About Me</h3>
    <h5>I'm just a college student who likes to make things.</h5>  
    <h5>If you'd like to stay updated about future projects, just <a href="mailto: gguevara@tutanota.com?subject=Keep Me Updated!">click</a>!</h5>   
</div>

<div class="container py-5 mb-5">
    <h3>P.S.</h3>
    <h5>Next time you want to link someone a video, link them to Layluh.<span style="color: black;">..or else BAD THINGS will happen.</span></h5>
</div>


    
<%- include('partials/genericFooter'); -%>      
