<%- include('partials/donateHeader'); -%>
<%- include("partials/navbar") -%>

<div class="container py-5">
    <h3>PayPal</h3>
    <h5><a href="https://paypal.me/gguevaraa">Click Here!</a></h5>

</div>

<div class="container py-5" style="margin-bottom: 120px;">
    <h3>Buy Me a Coffee</h3>
    <h5><a href="https://buymeacoff.ee/gguevara">Click Here!</a></h5>
</div>


    
<%- include('partials/genericFooter'); -%>      
