<%- include('partials/featuresHeader'); -%>
<%- include('partials/navbar'); -%>

<div class="container py-5">
    <h3>Supported Websites</h3>
    <ul>
        <li><h5>YouTube (videos + livestreams)</h5></li>
        <li><h5>Vimeo</h5></li>
        <li><h5>Twitch (VODs + livestreams)</h5></li>
        <li><h5>BitChute</h5></li>
    </ul>
</div>

<div class="container py-5">
    <h3>URLs</h3>
    <h5>Add 'layluh.com' before a URL to open up the video in Layluh.</h5>
    <h5>Examples:</h5>
    <ul>
        <li><h5>layluh.com/https://www.twitch.tv/ratirl/</h5></li>
        <li><h5>layluh.com/https://www.youtube.com/watch?v=O3cBp_Bf43M</h5></li>
        <li><h5>layluh.com/https://vimeo.com/226589334</h5></li>
    </ul>
    <h5 class="mt-2 mb-3">OR</h5>  
    <h5>Change the URL from 'website.com/stuff' to 'layluh.com/stuff' to open up the video in Layluh.</h5>
    <h5>Examples:</h5>
    <ul>
        <li><h5>vimeo.com/77636515 <i class="fa fa-long-arrow-right"></i> layluh.com/77636515</h5></li>
        <li><h5>twitch.tv/tarzaned <i class="fa fa-long-arrow-right"></i> layluh.com/tarzaned</h5></li>
        <li><h5>bitchute.com/video/iyu33DqLw6Q8/ <i class="fa fa-long-arrow-right"></i> layluh.com/video/iyu33DqLw6Q8/</h5></li>
    </ul>
    
    <blockquote class="blockquote mt-4">
        <p class="mb-0">"It just works."</p>
        <footer class="blockquote-footer">That fellow who directed <cite title="Source Title">Fallout 76</cite></footer>
    </blockquote>
</div>

<div class="container py-5" style="margin-bottom: 100px;" >
    <h3>Videos</h3>
        <ul>
            <li><h5>Videos loop automatically. This can't be changed.</h5></li>
            <li><h5>The usual keyboard shortcuts are supported (k/space to pause, m to mute, etc).</h5></li>
            <li><h5>The left and right arrows will go backwards and forwards 5 seconds respectively.</h5></li>
        </ul>
</div>



<%- include('partials/genericFooter'); -%> 