   
    <nav class="navbar navbar-dark justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="/">Layluh</a>
            <form class="form-inline my-2 my-lg-0" action="/loading" method="GET">
                <div class="input-group">
                    <input class="form-control mr-sm-2 border border-right-0" style="width: 360px;" type="url" name="URL" placeholder="Enter Video URL" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn navSearchButton border border-left-0" type="submit"><i class="fa fa-arrow-right"></i></button>     
                    </div>      
                </div>       
            </form>               
        </div>
    </nav> 




